@import "../../../../../Assets/style/colors.scss";
@import "../../../../../Assets/style/varible.scss";

.searchForm {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	& > * {
		padding: 0 0.25rem;
		color: $second-text-color;
	}

	&__input {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
