@import "../../../../../../../Assets/style/colors.scss";
@import "../../../../../../../Assets/style/varible.scss";

.slider {
	@include tabletAndDesktop {
		display: flex;
	}
	@include smallDesktop {
		display: flex;
	}
	@include largeDesktop {
		display: flex;
	}

	max-width: 1600px;
	font-weight: 500;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	overflow: hidden;
	padding: 0.5rem;
	position: relative;
	align-items: stretch;
	border-radius: 10px;

	&__container {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 80%;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;

		.aspectRatioContainer {
			display: none;
			position: relative;

			&.active {
				display: block;
				animation-name: showContent;
				animation-duration: 1s;
			}

			&__content {
				.carouselContent {
					&__picture {
						& > img,
						video,
						iframe {
							width: 100%;
						}
					}

					&__skrin {
						top: 0;
						position: absolute;
						width: 80%;
						height: 100%;
						z-index: 0;
						opacity: 0.4;
						background: linear-gradient(270deg, transparent 0%, #0b0b0b 100%);
					}

					&__content {
						width: 30%;
						position: absolute;
						bottom: 5%;
						left: 5%;
						display: flex;
						flex-direction: column;
						flex-grow: 0;
						flex-shrink: 1;

						& > * {
							padding: 1rem 0;
							justify-items: start;

							& > span {
								@include largeDesktop {
									font-size: 0.8rem;
								}
								@include smallDesktop {
									font-size: 0.6rem;
								}
								-webkit-letter-spacing: 0.5px;
								-moz-letter-spacing: 0.5px;
								-ms-letter-spacing: 0.5px;
								letter-spacing: 0.5px;
								line-height: 1.3333;
								text-transform: uppercase;
								margin-bottom: 20px;
							}
						}

						& > .carouselContent {
							&__picture {
								width: 80%;
								& > img {
									width: 100%;
								}
							}

							&__info {
								text-align: start;
								font-weight: 600;

								& > .discription {
									@include largeDesktop {
										font-size: 1rem;
									}
									@include smallDesktop {
										font-size: 0.75rem;
									}
									display: -webkit-box;
									-webkit-line-clamp: 4;
									-webkit-box-orient: vertical;
									overflow: hidden;
									word-break: break-word;
								}
							}

							&__buyContainer {
								text-align: start;
								font-weight: 600;
								text-transform: uppercase;
								display: flex;
								flex-direction: column;
								flex-grow: 0;
								flex-shrink: 1;

								& > .buyBtn {
									& > a {
										padding: 1rem 2rem;
										background-color: $button-color;
										border-radius: 3px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&__carouselControl {
		width: 20%;
		background: $second-color;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		flex-grow: 0;
		flex-shrink: 1;

		& > ul {
			&.listContainer {
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				display: flex;
				position: relative;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;

				& > li {
					display: flex;
					height: 16.666666666666664%;

					& > .listContainer__item {
						display: flex;
						align-items: center;
						justify-self: flex-start;

						font-weight: 550;
						justify-content: flex-start;

						& > .listContainer__img {
							width: 25%;
							margin-left: 0.8rem;
							margin-right: 0.8rem;
							& > img {
								padding: 0.5rem;
								border-radius: 2px;
								width: 100%;
							}
						}

						& > .listContainer__title {
							text-align: start;
							width: 50%;

							@include largeDesktop {
								font-size: 1rem;
							}
							@include smallDesktop {
								font-size: 0.75rem;
							}
							@include tabletAndDesktop {
								font-size: 0.6rem;
							}
						}

						&.active {
							background-color: $second-button-color;
							position: relative;
							&:hover {
								background-color: $second-button-color;
							}

							&::after {
								content: "";
								position: absolute;
								height: 1px;
								background: wheat;
								left: 0;
								bottom: 0;
								width: 100%;

								animation-name: activeTab;
								animation-duration: 6s;
							}
						}

						&:hover {
							cursor: pointer;
							background-color: $forth-color;
						}
					}
				}
			}
		}
	}
}

.sliderMobile {
	@include tabletAndDesktop {
		display: none;
	}
	@include smallDesktop {
		display: none;
	}
	@include largeDesktop {
		display: none;
	}
	display: flex;
	flex-direction: column;
	margin-top: 1rem;

	&__track {
		width: 100%;
	}

	&__item {
		height: 100%;
		border-radius: 5px;
		background-color: $second-button-color;

		.item {
			&__link {
				& > .image {
					& > img {
						width: 100%;
					}
				}
			}

			&__content {
				text-align: start;
				display: flex;
				flex-direction: column;
				flex: 1 1 0%;
				padding: 1rem;

				@include tablet {
					height: 160px;
				}
				@include mobile {
					height: 215px;
				}

				& > .info {
					& > .info {
						&__name {
							color: $primary-text-color;
							font-size: 1.4rem;
							font-weight: 700;
						}

						&__description {
							color: $primary-text-color;
							opacity: 0.7;
							font-weight: 200;
						}
					}
				}

				& > .buyContainer {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: auto;
					color: $primary-text-color;

					& > .buyBtn {
						& > a {
							padding: 0.5rem;
							background-color: $button-color;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}
}

@keyframes activeTab {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes showContent {
	from {
		opacity: 0.5;
		left: 1.5rem;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

.ant-carousel .slick-slide {
	padding: 0.5rem;
}

.ant-carousel .slick-dots-bottom {
	bottom: -20px;
}
