@import "../../../Assets/style/colors.scss";
@import "../../../Assets/style/varible.scss";

.header {
	font-size: 0.8rem;
	width: 100%;
	height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: static;
	background-color: $third-color;

	&__logo {
		width: 2rem;
		margin-left: 1rem;

		& > img {
			width: 100%;
		}
	}

	&__menu {
		height: 100%;
		width: 90%;

		& > ul {
			justify-content: space-between;
			align-items: center;

			& > li {
				padding: 0.5rem 1rem;
				text-transform: uppercase;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;

				&.header__globe {
					& > .globe {
						padding: 1rem;
					}
				}

				&.header__user {
					& > .user {
						display: flex;
						justify-content: center;
						align-items: center;
						& > * {
							padding: 0.5rem;
						}
					}

					& > * {
						padding: 0.5rem;
					}
				}
			}
		}

		&.show-menu {
			right: 0;
		}
	}

	&__toggle {
		padding: 0 1rem;
		cursor: pointer;
		z-index: $z-fixed;
	}
}

// responesive

.header {
	&__menu {
		@include tablet {
			position: fixed;
			right: -100%;
			top: $header-height;
			text-align: left;
			transition: 0.4s;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			justify-content: space-between;
			align-items: center;

			background-color: $third-color;
			height: 80vh;

			& > ul {
				&.bottom {
					position: absolute;
					bottom: 0;
					display: table;
					width: 100%;

					& > li {
						border-color: #464646 !important;
						display: table-cell;
						border-top: 1px solid;
						padding: 1rem;
						text-align: center;

						&.header__globe {
							border-right: 1px solid;
							font-size: $small-font-size;
							font-weight: $font-medium;

							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}

				&.top {
					& > li {
						padding: 1rem 2rem;
					}
				}
			}
		}
	}

	@include tabletAndDesktop {
		&__menu {
			display: flex;
			justify-content: space-between;

			& > ul {
				display: flex;

				& > li {
					height: 100%;

					&.active {
						border-bottom: solid 5px #0078f2;
					}
				}
			}
		}

		&__toggle {
			display: none;
		}

		&__user {
			& > .user {
				position: fixed;
			}

			& > .header__menu {
				right: -1rem;
				display: block;
				top: -150%;
				position: relative;
				background-color: #2a2a2a;
				width: 100%;
				height: auto;
				transition: 0.4s;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

				& > ul {
					flex-direction: column;

					& > .title {
						display: none;
					}
				}
				&.show-menu {
					top: $header-height + 0.75rem;
				}
			}
		}

		&__globe {
			justify-content: flex-end !important;

			& > .globe {
				position: fixed;
			}
			& > .header__menu {
				right: -1rem;
				display: block;
				top: -150%;
				position: relative;
				background-color: #2a2a2a;
				width: 100%;
				height: auto;
				transition: 0.4s;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

				& > ul {
					flex-direction: column;

					& > .title {
						display: none;
					}
				}
				&.show-menu {
					top: $header-height + 0.75rem;
				}
			}
		}
	}
}
