@import "Assets/style/colors.scss";
@import "Assets/style/varible.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&display=swap");

.App {
	text-align: center;
	height: 100vh;
	color: $primary-text-color;
	background-color: $primary-color;
}

.layout {
	height: 100vh;
	display: contents !important;
}

/* Base */
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: $header-height 0 0 0;
	font-family: "Oswald", sans-serif;
	font-family: "PT Sans", sans-serif;
	font-size: $normal-font-size;
	font-weight: $font-medium;
	background-color: $primary-color;
	color: $primary-text-color;
	line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
	margin: 0;
}

h2,
h3 {
	font-weight: $font-semi-bold;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $primary-text-color;
}

img {
	max-height: 100%;
	height: auto;
	display: block;
}

section {
	background-color: transparent !important;
}

//mobile

@include mobile {
	$biggest-font-size: 4.5rem;
	$h1-font-size: 2.25rem;
	$h2-font-size: 1.5rem;
	$h3-font-size: 1.25rem;
	$normal-font-size: 1rem;
	$small-font-size: 0.875rem;
	$smaller-font-size: 0.813rem;
}

.body {
	padding-left: 10%;
	padding-right: 10%;

	@include desktopAndLess {
		padding-left: 2%;
		padding-right: 2%;

		$biggest-font-size: 4.5rem;
		$h1-font-size: 2.25rem;
		$h2-font-size: 1.5rem;
		$h3-font-size: 1.25rem;
		$normal-font-size: 1rem;
		$small-font-size: 0.875rem;
		$smaller-font-size: 0.813rem;
	}
}
